.simple-linear {
  background: linear-gradient(rgb(238, 255, 0), rgb(30, 255, 0));
}

p {
    background-color: rgb(158, 106, 10);
    padding: 5px;
    color: #FFFFFF;
    width: 300px
}

#sidebar {
    width: 220px;
    background-color: #111111;
    position: fixed;
    top: 0px;
    left: 0px;
    border-right: 2px solid #123445;
    text-align: right;
}